.musical-keyboard {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100vh;
  border: 2px solid black;
}

header {
  border: 2px solid red;
  margin: auto;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}

.a {
  grid-column: 2/3;
  grid-row: 2/3;
  border: 2px solid blue;
  font-size: 40px;
}

.s {
  grid-column: 3/4;
  grid-row: 2/3;
  border: 2px solid blue;
  font-size: 40px;
}

.d {
  grid-column: 4/5;
  grid-row: 2/3;
  border: 2px solid blue;
  font-size: 40px;
}

.f {
  grid-column: 5/6;
  grid-row: 2/3;
  border: 2px solid blue;
  font-size: 40px;
}

.g {
  grid-column: 6/7;
  grid-row: 2/3;
  border: 2px solid blue;
  font-size: 40px;
}

.h {
  grid-column: 7/8;
  grid-row: 2/3;
  border: 2px solid blue;
  font-size: 40px;
}

.j {
  grid-column: 8/9;
  grid-row: 2/3;
  border: 2px solid blue;
  font-size: 40px;
}

.k {
  grid-column: 9/10;
  grid-row: 2/3;
  border: 2px solid blue;
  font-size: 40px;
}

.l {
  grid-column: 10/11;
  grid-row: 2/3;
  border: 2px solid blue;
  font-size: 40px;
}

.\; {
  grid-column: 11/12;
  grid-row: 2/3;
  border: 2px solid blue;
  font-size: 40px;
}

.\' {
  grid-column: 12/13;
  grid-row: 2/3;
  border: 2px solid blue;
  font-size: 40px;
}

.\# {
  grid-column: 13/14;
  grid-row: 2/3;
  border: 2px solid blue;
  font-size: 40px;
}
